html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


.input-box {
	float: left;
	margin-right: 1em;
	padding: 0.3em;
	width: 11em;
}

.input-box label, .input-box input, .input-box select {
	display: block;
	width: 100%;
}

.input-box input, .input-box select {
	height: 2rem;
}

@media screen and (max-width: 500px) {
	.input-box {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	input, select {
		padding: 5px;
		margin: 0;
	}
}

@media screen and (max-width: 1000px) {
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#plot {
	border-style: solid;
	border-width: 5px;
	border-color: #DDDDDD;
}

#header a {
	padding-right: 1em;
}

h1 img {
	height: 2em;
	display: block;
	margin: auto;
}

#header {
	text-align: center;
}

h1 {
	text-align: center;
}

h1,h2,h3 {
	font-family:Georgia,serif;
	font-variant: small-caps;
	text-transform: none;
	font-weight: 100;
	margin-bottom: 0.2em;
}

body {
	margin: 0 auto;
	max-width: 40em;
	font-family: 'Georgia','Cambria',serif;
	font-size: 1.3em;
	color: #4E443C;
	border-style: solid;
	border-color: transparent;
	border-width: 0 0.5em 1em 0.5em;
}

a {
	text-decoration: none;
}

.plus {
	float: left;
	margin-right: 1em;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	background-color: rgb(44,108,128)
}

.plus::before {
	content: "+";
	width: 22px;
	height: 22px;
	font-size: 22px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-family: courier;
	color: white;
}
