html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


.input-box {
	float: left;
	margin-right: 1em;
	padding: 0.3em;
	width: 12em;
}

.input-box label, .input-box input, .input-box select {
	display: block;
	width: 100%;
}

.input-box input, .input-box select {
	height: 2rem;
}

@media screen and (max-width: 500px) {
	.input-box {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	input, select {
		padding: 5px;
		margin: 0;
	}
}

.row {
	width: 100%;
	display: inline-block;
}

#plot {
	border-style: solid;
	border-width: 5px;
	border-color: #DDDDDD;
}

#header a {
	padding-right: 1em;
}

h1,h2,h3 {
	font-family: 'Helvetica',sans-serif;
}

body {
	margin: 0 auto;
	max-width: 40em;
	font-family: 'Georgia','Cambria',serif;
	font-size: 1.3em;
	border-style: solid;
	border-color: transparent;
	border-width: 0 0.5em 1em 0.5em;
}

a {
	text-decoration: none;
}
