.input-box {
	float: left;
	margin-right: 20px;
	padding: 5px;
}

.input-box label, input, select {
	display: block;
}

.row {
	width: 100%;
	display: inline-block;
}

#plot {
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD;
}

html, body {
	height: 100%;
}

body {
	width: 61.8%;
	margin: 0px auto;
	display: inline-block;
}

html {
	text-align:center;
}
