.input-box {
	float: left;
	margin-right: 1em;
	padding: 0.3em;
}

label, input, select {
	display: block;
}

.row {
	width: 100%;
	display: inline-block;
}

#plot {
	border-style: solid;
	border-width: 5px;
	border-color: #DDDDDD;
}

body {
	margin: 2em auto;
	max-width: 40em;
	font-family: 'Oxygen',sans-serif;
	font-size: 1.3em;
	color: #333333;
	background-color: #FAFAFA;
}
